<!DOCTYPE HTML>
<html ng-app="TheFoodParliament">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="./styles/thefoodparliament.css">
	<link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.css">

	<script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>

	<script type="text/javascript" src="./app/app.js"></script>
	<script type="text/javascript" src="./app/services/webService.js"></script>
	<script type="text/javascript" src="./app/services/geolocationService.js"></script>
	<script type="text/javascript" src="./app/controllers/electionController.js"></script>

	<script type="text/javascript" src="./app/components/electeds/electedOfToday.js"></script>
	<script type="text/javascript" src="./app/components/electeds/electedOfWeek.js"></script>
	<script type="text/javascript" src="./app/components/candidate/candidate.js"></script>

	<title>The Food Parliament</title>
</head>

<body>
	<div id="election" class="container" ng-controller="ElectionController" ng-init="initialize()">
		<main>
			<div ng-if="!showElection" class="container-table">
				<div ng-if="geolocationStatus != null && geolocationStatus.enabled">
					<div class="row vertical-center-row">
						<div class="text-center col-md-4 col-md-offset-4">
							<p class="font-26"> Please, enter your name: </p>
							<input type="text" ng-model="user.name" ng-keyup="$event.keyCode == 13 ? nameInput() : null" ng-blur="nameInput()">
						</div>
					</div>
				</div>
				<div ng-if="geolocationStatus != null && !geolocationStatus.enabled">
					<p>Sorry, we can not determine your location for the following reason:</p>
					<p>{{geolocationStatus.message}}</p>
				</div>
			</div>
			<div ng-if="showElection">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div ng-if="election.isElectionOpen">
							<h1>Election is Open</h1>
						</div>
						<div ng-if="!election.isElectionOpen">
							<h1>Election is Closed</h1>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<section class="candidates">
							<h3>Candidates</h3>
							<div ng-repeat="candidate in election.candidates track by $index">
								<candidate candidate='candidate'></candidate>
								<div ng-if="election.isElectionOpen">
									<button ng-disabled="!election.userCanVote" ng-click="voteForRestaurant(candidate.restaurant.id)">Vote</button>
								</div>
							</div>
						</section>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-12" ng-if="election.electedOfToday != null">
								<section class="electedOfToday">
									<elected-of-today elected='election.electedOfToday'></elected-of-today>
								</section>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<section class="electedsOfWeek">
									<h3>Electeds Of Week</h3>
									<div ng-repeat="electedOfWeek in election.electedsOfWeek track by $index">
										<elected-of-week elected='electedOfWeek'></elected-of-week>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</body>

</html>